html{
  scroll-behavior: smooth;
}
h1{
  text-align:center;
}
.grid{
  display:grid;
  gap: 10px;
}

figure{
  justify-self:center;
  width:fit-content;
  border:4px solid green;
  border-radius: 15px 15px 0px 0px;
  overflow:hidden;
}

figcaption{
  text-align:center;
}

@media screen and (min-width:772px){
  .grid{
    grid-template-columns:50% 50%;
  }
  figure{
    border-radius:100%;
  }
  figure:last-child{
    grid-column:span 2;
  }
}

@media screen and (min-width:992px){
  figure:nth-child(3n){
    grid-column:span 2;
  }
  
  figure{
    border-radius:0;
  }
}

@media (prefers-reduced-motion){
  html{
  scroll-behavior: auto;
  }
}

@media (prefers-color-scheme:dark){
  figure{
    border:black;
  }
  figcaption{
  background:black;
  color: yellow;
}
}
